SECRET_KEY="78b33e1588854928991a800f34cd218e"
MASTER_PASSWORD_HASH="JDJiJDEyJGl6dGxLeWFKeVg3bGkvMzNFcVRqWk80Uzd5QmZMVzVzNzBla3RLdnJCLkNKRGtJeWVQLy9H"
SESSION_EXPIRE_DAYS=1
COOKIE_NAME="backchannel_session"
ALLOWED_ORIGINS="*"
PORT_RANGE_START=20000
PORT_RANGE_END=20100
LOCAL_ADDRESS="0.0.0.0"
CUSTOM_MESSAGES="Connect: ssh {username}@localhost -p {port},Dynamic port forward: ssh -D 9999 {username}@localhost -p {port}"